#workplace {
    margin-top:5px;
    height: 35px;
}
#biz {
    margin-top:5px;
    height: 35px;
}
#input_room_type {
    height: 35px;
}
#input_box {
    margin-top: 5px;
    height: 35px;
}
#is_used {
    margin-top:5px;
    height: 35px;
}